@model Cinema.Domain.DomainModels.Order

<div class="container">


	@for (int i = 0; i < Model.Tickets.Count(); i++)
	{
		var item = Model.Tickets.ElementAt(i).SelectedTicket;

		if (i % 3 == 0)
		{
			@:<div class="row">
			}

			<div class="col-md-3 m-4">
				<div class="card" style="width: 18rem; height: 30rem;">
					<img class="card-img-top" style="height: 50%" src="@item.TicketImage" alt="Card image cap">
					<div class="card-body">
						<h3>@item.TicketName</h3>
						<h5>@item.TicketGenre</h5>
						<h6>@item.TicketPrice MKD</h6>
						<h6>@item.TicketDate</h6>
					</div>

				</div>
			</div>

			if (i % 3 == 2)
			{
			@:</div>
		}

	}
</div> 